<!DOCTYPE html>
<html>
<head>
    <title>InicioUsuario</title>
    <link rel='stylesheet' href='../static/CSS/InicioUsuario/style.css' />
    
</head>
<body>
    <section class='menu'>
        <h1>Mis Tareas</h1>
        <a href="{{ url_for('Logout') }}" class='btn-main'>Cerrar sesión</a>
    </section>
    <main>
        <div class='container-create-post'>
            <form method='POST'>
                <div>
                    <label class='min-label'>Tarea</label><br>
                    <input class='bar-text' type='text' name='title_task'>
                </div>
                <div>
                    <label class='min-label'>Descripcion</label><br>
                    <input class='bar-text' type='text' name='task_des'>
                </div>
                <button class='btn-main' type='submit'>Publicar</button>
            </form>
        </div>
        <ul>
          {% for tarea in tareas %}
            <li>
                <div class='container-post'>
                    <div>
                        <p>{{tarea.title}}</p>
                        <p>{{date}}</p>
                    </div>
                    <p>{{ tarea.descripcion }}</p>
                    <a >Terminada</a>
                </div>
            </li>
          {% else %}
            <li>No has posteado nada aún.</li>
          {% endfor %}
        </ul>
    </main>
</body>
</html>