<!DOCTYPE >
<html>
    <head>
        <title>Login</title>
        <link rel='stylesheet' href='../static/CSS/LoginRegister/style.css' />
    </head>
    <body>
        <main>
            <div class='box-main'>
                <h1>Login</h1>
                <form method='POST'>
                    <div>
                        <label class='min-label'>Username</label>
                        <input class='bar-text' type='text' name='username'>
                    </div>
                    <div>
                        <label class='min-label'>Password</label>
                        <input class='bar-text' type='password' name='password'>
                    </div>
                    <div>
                        <p class='min-text'>No tienes cuenta registrate <a class='links' href='/register'>aqui</a></p>
                    </div> 
                    <div>
                        <button class="btn-main" type='submit'>Login</button>
                    <div/>
                </form>
            </div>
        </main>
    </body>
</html>