<!DOCTYPE >
<html>
    <head>
        <title>Register</title>
        <link rel='stylesheet' href='../static/CSS/LoginRegister/style.css' />
    </head>
    <body>
        <main>
            <div class='box-main'>
                <h1>Register</h1>
                <form method='POST'>
                    <div>
                        <label class='min-label'>Name</label>
                        <input class='bar-text' type='text' name='name'>
                    </div>
                    <div>
                        <label class='min-label'>Lastname</label>
                        <input class='bar-text' type='text' name='lastname'>
                    </div>
                    <div>
                        <label class='min-label'>Username</label>
                        <input class='bar-text' type='text' name='username'>
                    </div>
                    <div>
                        <label class='min-label'>Email</label>
                        <input class='bar-text' type='email' name='email'>
                    </div>
                    <div>
                        <label class='min-label'>Password</label>
                        <input class='bar-text' type='password' name='password'>
                    </div>
                    <div>
                        <p class='min-text'>Ya tines cuenta inicia sesion <a class='links' href='/login'>aqui</a></p>
                    </div> 
                    <div>
                        <button class="btn-main" type='submit'>Register</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>